{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Oops woopsie you can't do that (403)</h1>
        <p> Please check your account and try again </p>
    </div>
{% endblock content %}