{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Oops woopsie page not found (404)</h1>
        <p> That page does not exist </p>
    </div>
{% endblock content %}