{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Oops woopsie something went wrong (500)</h1>
        <p> We fucked up </p>
    </div>
{% endblock content %}