<!-- Pokupimo layout.html -->
{% extends "layout.html" %}
<!-- Ovo ce da overriduje block mesto u layout.html oznaceno sa content -->
{% block content %}
    <!--isto ime kako smo prosledili u parametru, ali mora imati . items jer je paggination dic-->
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            </div>
              <!--prosledis post id na post metod-->
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    <!--prolazi kroz broj stranica i ako je stranica none stavimo ... i ide else block-->
    <!-- jer nece da vrati previse stranica ako ima pa stavi None umesto nj moze u iter_pages() -->
    <!--pravis link ka home za taj page_num i prikazujes ga-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            <!--ako je stranica na kojoj se trenutno nalazimo onda malo menjamo izgled linka br. trenutne stranice-->
            {% if posts.page == page_num %}
                <a href="{{ url_for('main.home', page=page_num) }}"
                    class="btn btn-info mb-4">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('main.home', page=page_num) }}"
                    class="btn btn-outline-info mb-4">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}