{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <!--form poslat iz flaskblog renred_template-->
            <!--hidden_tag dodaje neki CRF tag pogle to posle ali samo dodaj ovo uvek-->
            {{ form.hidden_tag() }}
            <!--tag koristi se uglavnom da se grupisu formtagovi legend je caption za ovaj field set-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join us</legend>
                <div class="form-group">
                    <!--To su imena varijabli u forms.py-->
                    <!--Prvi prikazuje label drugi sam form-->
                    <!-- Prosledjeni parametri su samo bootstrap klase  -->
                    {{ form.username.label(class="form-control-label") }}
                    <!--napravljen od wtforms on okida gresku ako smo sjbali nesto od validatora-->
                    <!--onda samo bootstrap da prikazemo gresku-->
                    <!--dodas is-invlid na polje i div sa klasom invalid-feedback ispod toga da prikazes gresku-->
                    {% if form.username.errors %}
                        {{ form.username(class="is-invalid form-control form-control-lg") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            <!--treba ti ime funkcije u flaskblog.py sto je login-->
            Already have an account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign in</a>
        </small>
    </div>
{% endblock content %}